@import "./minireset.scss";
@import "./variable.scss";

body {
  font-family: $fonts;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  padding-bottom: 0.5rem;
  color: #212121;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 2rem;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid #eee;
}
a {
  text-decoration: none;
}
strong {
  display: inline-block;
}
p {
  font-size: 1.5rem;
}
small {
  font-size: 1rem;
  color: black;
  font-style: italic;
}

section {
    padding: 2rem 0;
  }
  
  input,
  textarea {
    font-family: $fonts;
    text-transform: none;
    padding: 0.5rem;
  }
  textarea {
    resize: none;
    height: 300px;
  }
  input {
    text-transform: initial;
    border: none;
    border: 0.1rem solid rgb(99, 96, 96);
    padding: 1rem 0.5rem;
  }
  label {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
  }
.container {
  max-width: 1200px;
  margin: 0 auto;
}
// .main.active {
//   width: 89%;
//   transform: translatex(-7rem);
// }


//Comment Message
.comment-message {
  opacity: 0;
  transition: 0.5s;
  display: inline-block;
}
.comment-message.active {
  opacity: 1;
  transition: 0.5s;
}
.comment-enter {
  opacity: 0;
}
.comment-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

// Alert
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 0.5rem 0;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

//Render
.rendertext {
  p,
  li {
    font-size: 2.1rem;
    line-height: 2.8rem;
    text-transform: initial;
    font-weight: 300;
    color: rgb(75, 74, 74);
  }
}
.intro--rendertext h1,
.intro--rendertext h2,
.intro--rendertext h3,
.intro--rendertext h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

//BUTTON
button {
  cursor: pointer;
  border: none;
  background: transparent;
}
.add-to-cart {
  font-size: 3rem;
  color: #ff8802;

  &:hover {
    opacity: 0.5;
  }
}

.center {
  text-align: center;
}


//badge
.badge {
  background-color: #ff8802;
  color: #ffff;
  border-radius: 50%;
  padding: 0.4rem 0.7rem 0.4rem 0.4rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

//img
.img__small {
  max-width: 100%;
  max-height: 70px;
}
.img__medium {
  width: 100%;
  max-width: 100%;
  height: 200px;
  border-radius: 2rem;
  margin-bottom: 1rem;
  object-fit: cover;
}
.img__large {
  width: 100%;
  max-width: 100%;
  max-height: 600px;
  object-fit: contain;
}

//
.big-container {
  display: flex;
}


.small-text-grey {
  color: #666;
  margin-right: 1rem;
  font-size: 1.1rem;
}

.cart-aside {
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  box-shadow: -10px 0 20px 0 lightgrey;
  padding: 0 1rem 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  width: 0%;
  max-width: 0%;
  z-index: 1;
}
.cart-aside.active {
  transition: 0.5s;
  max-width: 50%;
  width: 50%;
  opacity: 1;
  visibility: visible;
}
//Cart item
.cart-item {
  width: 18rem;
  max-width: 18rem;
  font-size: 1.1rem;
  padding: 0.2rem 0;

  &__qty,
  &__price {
    color: #212121;
    font-size: 1.3rem;
  }

  &__quantity {
    text-align: right;
    padding-right: 0.7rem;
  }
}
.cart {
  &__container {
    height: 20rem;
    max-height: 20rem;
    padding: 0 0.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    align-items: flex-start;
  }

  &__total {
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #ff8802;
    display: block;
    text-align: right;
  }
}
//
.heading {
  color: $black;
  font-size: 2rem;

  span {
    color: #ff8802;
  }
}

.dp-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: #212121;
  color: #fff;
  font-weight: bold;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: #ff8802;
  }
}
//FONT AWESOME
.fa-chevron-down {
  font-size: 1rem;
}

.link-all {
  padding: 1rem;
  color: #666;
  font-size: 1.1rem;
  &:hover {
    color: #ff8802;
  }
}
.link-register {
  padding: 1rem;
  color: #212121;
  font-size: 1.5rem;
  &:hover {
    color: #ff8802;
  }
}

//input search
.wrapper-search {
  display: flex;
  height: 5rem;
}

.searchbox {
  height: 100%;
  width: 50rem;
  max-width: 50rem;
  font-size: 1.2rem;
  padding-left: 2rem;
  color: #333;
  border: none;
  text-transform: none;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #fafafa;
  outline: none;
}
.btn-search {
  height: 100%;
  width: 5rem;
  font-size: 2rem;
  line-height: 5rem;
  color: rgba(0, 0, 0, 0.3);
  background: #fafafa;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  &:hover {
    color: $black;
  }
}

//STARS
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
  font-size: 1.5rem;
}
.rating span:last-child {
  color: #f0c040;
}

//HEADER
.header {
  &__hero {
    background: #ffff;
    padding: 2rem 9%;
  }
  &__logo {
    &:hover {
      transform: scale(1.03);
    }
  }
}
//USER
.userinfo-online {
  position: absolute;
  top: 15px;
  right: 1px;
  display: block;
  width: 10px;
  height: 10px;
  background: #ff8802;
  border-radius: 50%;
}

//NAVBAR
.navbar.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar {
  background: #fff;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1000;

  &__drop-down {
    transition: 0.5s;
    position: relative;
  }

  &__drop-down-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 32px;
    right: -8rem;
    z-index: 5;
    background: #faf8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25rem;
    max-width: 25rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 24px 6px rgb(71, 70, 70);

    & .navbar__link:hover {
      background: #ff8802;
      color: $black;
    }
  }

  &__drop-down:hover &__drop-down-content {
    visibility: visible;
    opacity: 1;
  }

  &__link {
    padding: 1rem 1rem;
    font-size: 1.5rem;
    color: #666;
    text-transform: capitalize;

    &:hover {
      color: #212121;
    }
  }

  &__icon {
    font-size: 3rem;
    color: #bdbdbd;
    cursor: pointer;

    &:hover {
      color: #ff8802;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}

#menu-bar {
  font-size: 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid $black;
  padding: 0.8rem 1.5rem;
  color: $black;
  cursor: pointer;
  display: none;
}

// HOME
.home {
  flex-wrap: wrap;

  &__container {
    background: #ff8802;
    border-radius: 15px;
    overflow: hidden;
    padding: 5rem 7rem;
    justify-content: space-around;
  }

  &__img {
    width: 100%;
  }

  &__fresh {
    font-size: 2rem;
    color: #fff;
    display: block;
    max-width: 35rem;
    padding: 2rem 0;
  }

  &__heading {
    font-size: 4rem;
    max-width: 40rem;
    color: #fff;
  }
}

//BANNER
.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.banner {
  flex: 1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 35px 20px lightgrey;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
  }

  &__heading {
    font-size: 3rem;
    color: $black;
  }

  &__upto {
    font-size: 2rem;
    color: #333;
  }

  &:hover &__img {
    transform: scale(1.2) rotate(-5deg);
  }
}

//CATEGORIE
.category {
  background-color: #f3f3f3;
}

//BOX CATEGORIE
.box-container {
  display: flex;
  gap: 1.5rem;
  // flex-wrap: wrap,
}

.box {
  border-radius: 20px;
  border: 0.1rem solid rgba(0, 0, 0, 0);
  text-align: center;
  padding: 2rem;
  flex: 1 1 25rem;
  box-shadow: 0 0 35px 0px rgb(250, 250, 250);
  overflow: hidden;

  &:hover {
    border: 0.1px solid black;
  }

  &__img {
    width: 7rem;
    margin: 0.5rem 0;
    padding: 2rem 0;
  }

  &__heading {
    font-size: 2.5rem;
    color: $black;
  }

  &__upto {
    font-size: 1.3rem;
    color: #666;
    padding: 2rem 0;
  }

  & .btn {
    display: block;
  }
}
.test {
  border: 1px solid red;
}
// Product
.product {
  & .box-container {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 1.5rem
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  &__box {
    position: relative;
    flex: 1 1 25rem;
    text-align: left;
    padding: 2rem;
    border-radius: 20px;
    border-bottom: 1px solid rgb(255, 254, 254);

    &:hover {
      border: 0.1px solid black;
    }

    &:hover .product__icons {
      right: -1rem;
    }
  }

  &__img {
    height: 10rem;
    object-fit: contain;
    width: 100%;
  }

  &__icons {
    position: absolute;
    top: 0.5rem;
    right: -6rem;
  }

  &__link {
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: #cf8a7e;
    margin-top: 0.7rem;
    border-radius: 50%;
    transition: 0.1s;
    &:hover {
      color: red;
    }
  }

  &__heading {
    color: $black;
    font-size: 1.3rem;
    padding: 0.7rem 0;
  }

  &__price {
    font-size: 1.5rem;
    color: #212121;
    padding: 0.5rem 0;
  }
  &__cart {
    text-align: right;
  }

  &__quantity {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  &__input {
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    font-weight: bolder;
    color: $black;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.05);
    max-width: 20%;
  }

}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  &:before {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
//SLICK
.slick-arrow.slick-next {
  top: -20px;
  &:before {
    color: rgb(99, 96, 96);
    background: rgb(199, 199, 199);
    font-family: FontAwesome;
    content: "\f054";
  }
}
.slick-arrow.slick-prev {
  left: initial;
  right: -8px;
  top: -20px;

  &:before {
    color: rgb(99, 96, 96);
    background: rgb(199, 199, 199);
    font-family: FontAwesome;
    content: "\f053";
  }
}

//SIGNIN
.signin {
}
//form
.form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  flex: 1 1;
  padding: 5rem 5rem;

  &__group {
    display: flex;
    flex-flow: column;
  }
}
//BLOG
.blog {
  background: whitesmoke;
  &__container {
    align-items: baseline;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  &__card {
    max-width: 30rem;
    border-radius: 20px;
    padding: 1rem;
    &:hover {
      background: rgb(214, 214, 214);
    }
  }
  &__separate {
    padding: 0 0.3rem;
    font-size: 1.5rem;
    color: #666;
    font-weight: bolder;
  }
  &__info {
    justify-content: inherit;
    padding-bottom: 1rem;
  }
  &__heading {
    font-size: 1.6rem;
    text-transform: initial;
  }
  &__rendertext p {
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: initial;
  }
  &__category {
    text-transform: uppercase;
    color: #ff8802;
    font-size: 1.4rem;
  }
  &__date {
    color: #666;
  }
}

//BLOG ARTICLE
.blog-article {
  &__container {
    align-items: flex-start;
  }

  &__content {
    max-width: 65%;
  }
  &__aside {
    max-width: 35%;
    padding: 0 2rem;
  }
  &__rendertext {
    p {
      margin: 1rem 0;
    }
    p,
    li {
      font-size: 2rem;
      line-height: 2.8rem;
      text-transform: initial;
      font-weight: 300;
      color: rgb(75, 74, 74);
    }
  }
}

//comment
.comment {
  &__container {
    position: relative;
    align-items: flex-end;
    margin: 2rem 0;
    padding-bottom: 1rem;
    &::after {
      content: "";
      display: block;
      background-color: rgb(192, 192, 192);
      width: 50%;
      margin: 0 auto;
      bottom: 0;
      right: 0;
      left: 0;
      height: 0.1rem;
      position: absolute;
    }
  }

  &__name {
    display: inline-block;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  &__date {
    color: #666;
  }
}

// Media Queries HEADER
@import "./mediaqueries.scss";
