@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

//FONTS
$fonts : 'Roboto', sans-serif;

//COLORS 
$green: #27ae60;
$black: #212121;
$yellow: #ffa700;